numpy>=1.26
opencv-python>=4.8
opencv-contrib-python>=4.8
pandas>=2.0
pillow>=10.0
pytesseract>=0.3.10
pyzbar>=0.1.9
zbarcam>=2020.524
gradio>=4.44
PyYAML>=6.0
scipy>=1.10
python-pptx>=0.6.23
paddleocr>=3.3.3
paddlepaddle>=3.2.0
ultralytics>=8.0.0
easyocr>=1.7.0
matplotlib>=3.8.0
